body {
    width: 100%;
    height: 100%;
    /* body padding for the fixed navbar */
    background: black;
}

#about {
    padding-bottom: 100px;
    padding-top: 50px;
    background-image: url(http://more-sky.com/data/out/7/IMG_206786.png);
}

#about img {
    height: 35%;
    width: 35%;
    position: relative;
    margin: auto;
}



.about-content h2{
    font-size: 3em;
    padding-bottom: 20px;
}

.about-content p {
    padding-top: 20px;
}

p {
    font-family: 'Oxygen',sans-serif;
    color: white;
    font-size: 2em;
    margin: 3px;
    letter-spacing: 1px;
}

.container {
    width: 100%;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    padding: 16px;
    border: 2px solid white;
    border-radius: 100% !important; 
    font-size: 30px;
    }
    .btn-circle:hover {
    animation: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oxygen',sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
}

.intro {
    display:table;
    width:100%;
    height: auto;
    padding: 300px 0px 400px 0px;
    text-align: center;
    color: white;
    background: url(img/yzdyjgsgw68-alejandro-scaff.jpg);
    background-size: cover;
}

.intro-body { 
    display: table-cell;
    vertical-align:middle;
    bottom: 150px;
} 
.intro-heading {
    bottom: 50px;
}

.navbar-custom {
    background-color: rgba(200, 50, 60, 0);
    font-family: 'Oxygen', sans-serif;
    font-size: 2em;

}

.navbar-custom a {
    color: red;
    padding: 5px;
}

.nav ul li {
    text-align: center;
}

.intro-body .intro-heading {
    font-size: 120px;
    font-family: 'Bungee Shade', cursive;
}



.jumbotron {
  background-size: cover;
  background: rgba(200, 50, 60, 0);

 
}

.header ul li {
  display:inline-block;
}

.works-row {
    padding: 20px;
}

section {
    background-color: black;
}

.footer-row ul {
    text-align: center;
}

.footer-row ul li {
    display: inline-block;
    font-size: 5em;
    margin: 1.25em;
}
.footer-row ul li a {
    color: firebrick;
}

.footer-row ul li:hover {
    animation: pulse 2s infinite;
}


@keyframes pulse {
    from {
        transform:scale(1);
    }
    50% {
        transform:scale(1.2);
    }
    100% {
        transform:scale(1);
    }
}