@import url("https://fonts.googleapis.com/css?family=Habibi|Permanent+Marker");
html,
body {
  height: 100%;
  width: 100%; }

body {
  font-family: "Habibi", serif; }

hr {
  border-color: #AA0114;
  border-width: 3px;
  max-width: 50px; }

hr.light {
  border-color: white; }

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #AA0114; }
  a:hover, a:focus {
    color: #77010e; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Droid Sans", sans-serif; }

p {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 20px;
  color: black;
  letter-spacing: 1px;
  text-decoration: bold; }

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out; }
  .btn-circle:hover {
    animation: pulse 2s infinite; }

.bg-primary {
  background-color: #AA0114; }

.bg-dark {
  background-color: #222222;
  color: white; }

.bg-dark-2 {
  background-color: #333333;
  color: white; }

.text-faded {
  color: fade(white, 70%); }

section {
  padding: 100px 0; }

aside {
  padding: 50px 0; }

.no-padding {
  padding: 0; }

.navbar-default {
  background-color: white;
  border-color: fade(#222222, 5%);
  font-family: "Droid Sans", sans-serif;
  font-size: 12em;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }
  .navbar-default .navbar-header .navbar-brand {
    color: #AA0114;
    font-family: "Droid Sans", sans-serif;
    text-transform: uppercase; }
    .navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
      color: #77010e; }
  .navbar-default .navbar-header .navbar-toggle {
    font-weight: 700;
    font-size: 12px;
    color: #222222;
    text-transform: uppercase; }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .25em;
    color: #222222; }
    .navbar-default .nav > li > a:hover,
    .navbar-default .nav > li > a:focus:hover {
      color: #AA0114; }
  .navbar-default .nav > li.active > a,
  .navbar-default .nav > li.active > a:focus {
    color: #AA0114 !important;
    background-color: transparent; }
    .navbar-default .nav > li.active > a:hover,
    .navbar-default .nav > li.active > a:focus:hover {
      background-color: transparent; }
  @media (min-width: 768px) {
    .navbar-default {
      background-color: transparent;
      border-color: fade(white, 30%); }
      .navbar-default .navbar-header .navbar-brand {
        color: fade(white, 70%); }
        .navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
          color: #AA0114; }
      .navbar-default .nav > li > a,
      .navbar-default .nav > li > a:focus {
        color: fade(white, 70%); }
        .navbar-default .nav > li > a:hover,
        .navbar-default .nav > li > a:focus:hover {
          color: #AA0114; }
      .navbar-default.affix {
        background-color: white;
        border-color: fade(#222222, 5%); }
        .navbar-default.affix .navbar-header .navbar-brand {
          color: #AA0114;
          font-size: 14px; }
          .navbar-default.affix .navbar-header .navbar-brand:hover, .navbar-default.affix .navbar-header .navbar-brand:focus {
            color: #77010e; }
        .navbar-default.affix .nav > li > a,
        .navbar-default.affix .nav > li > a:focus {
          color: #222222; }
          .navbar-default.affix .nav > li > a:hover,
          .navbar-default.affix .nav > li > a:focus:hover {
            color: #AA0114; } }

header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url("/img/mainback.png");
  text-align: center;
  color: white; }
  header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
    font-size: 1.25em; }
    header .header-content .header-content-inner h1 {
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 60px;
      letter-spacing: .2em;
      text-shadow: 0 0 12px #AA0114; }
    header .header-content .header-content-inner p {
      font-weight: 300;
      color: fade(white, 70%);
      font-size: 16px;
      margin-bottom: 50px; }
  @media (min-width: 768px) {
    header {
      min-height: 100%; }
      header .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px; }
        header .header-content .header-content-inner {
          max-width: 1000px;
          margin-left: auto;
          margin-right: auto; }
          header .header-content .header-content-inner h1 {
            font-size: 50px; }
          header .header-content .header-content-inner p {
            font-size: 18px;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto; } }

.section-heading {
  margin-top: 0; }

#about {
  padding: 75px 0; }
  #about h1 {
    font-size: 4em;
    text-shadow: 0 0 20px black; }
  #about p {
    font-size: 1.5em; }

#social {
  padding: 125px;
  background-color: #36454f;
  background: url("/img/a2qvtnsk5um-trent-yarnell.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
  #social .container {
    width: 100%; }
  #social h1 {
    color: white;
    letter-spacing: .25em;
    font-size: 2.8em;
    text-shadow: 0 0 20px black; }
  #social .service-box {
    max-width: 400px;
    margin: 50px auto 0; }
    #social .service-box h2,
    #social .service-box h3 {
      color: white;
      text-shadow: 0 0 15px black; }
    @media (min-width: 992px) {
      #social .service-box {
        margin: 20px auto 0; } }
    #social .service-box p {
      margin-bottom: 0;
      color: #AA0114; }
  #social i {
    text-shadow: 0 0 8px black; }
    #social i:hover {
      animation: pulse 2s infinite; }
  #social p {
    text-shadow: 0 0 12px black;
    font-size: 1.2em;
    font-family: "Habibi", serif;
    font-weight: bold; }

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
  background-color: #36454f; }
  .portfolio-box .portfolio-box-caption {
    color: white;
    opacity: 0;
    display: block;
    background: fade(#AA0114, 90%);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s; }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-family: "Habibi", serif;
        padding: 0 15px; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 18px; }
  .portfolio-box:hover .portfolio-box-caption {
    opacity: 1; }
  .portfolio-box:focus {
    outline: none; }
  @media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
      font-size: 16px; }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
      font-size: 22px; } }

.call-to-action h2 {
  margin: 0 auto 20px; }

#contact {
  background: url("/img/red-forest-26750-1920x1080.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
  #contact p {
    color: white;
    font-size: 2em;
    text-shadow: 0 0 3px #000000; }
  #contact h2 {
    font-size: 2.2em; }

.text-primary {
  color: #AA0114; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }
  .no-gutter > [class*='col-'] .btn-default {
    color: #222222;
    background-color: white;
    border-color: white;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s; }
    .no-gutter > [class*='col-'] .btn-default:hover, .no-gutter > [class*='col-'] .btn-default:focus, .no-gutter > [class*='col-'] .btn-default.focus, .no-gutter > [class*='col-'] .btn-default:active, .no-gutter > [class*='col-'] .btn-default.active,
    .no-gutter > [class*='col-'] .btn-default .open > .dropdown-toggle {
      color: #222222;
      background-color: #f2f2f2;
      border-color: #ededed; }
    .no-gutter > [class*='col-'] .btn-default:active, .no-gutter > [class*='col-'] .btn-default.active,
    .no-gutter > [class*='col-'] .btn-default .open > .dropdown-toggle {
      background-image: none; }
    .no-gutter > [class*='col-'] .btn-default.disabled, .no-gutter > [class*='col-'] .btn-default.disabled:hover, .no-gutter > [class*='col-'] .btn-default.disabled:focus, .no-gutter > [class*='col-'] .btn-default.disabled.focus, .no-gutter > [class*='col-'] .btn-default.disabled:active, .no-gutter > [class*='col-'] .btn-default.disabled.active, .no-gutter > [class*='col-'] .btn-default[disabled], .no-gutter > [class*='col-'] .btn-default[disabled]:hover, .no-gutter > [class*='col-'] .btn-default[disabled]:focus, .no-gutter > [class*='col-'] .btn-default[disabled].focus, .no-gutter > [class*='col-'] .btn-default[disabled]:active, .no-gutter > [class*='col-'] .btn-default[disabled].active, fieldset[disabled] .no-gutter > [class*='col-'] .btn-default, fieldset[disabled] .no-gutter > [class*='col-'] .btn-default:hover, fieldset[disabled] .no-gutter > [class*='col-'] .btn-default:focus, fieldset[disabled] .no-gutter > [class*='col-'] .btn-default.focus, fieldset[disabled] .no-gutter > [class*='col-'] .btn-default:active, fieldset[disabled] .no-gutter > [class*='col-'] .btn-default.active {
      background-color: white;
      border-color: white; }
    .no-gutter > [class*='col-'] .btn-default .badge {
      color: white;
      background-color: #222222; }
  .no-gutter > [class*='col-'] .btn-primary {
    color: white;
    background-color: #AA0114;
    border-color: #AA0114;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s; }
    .no-gutter > [class*='col-'] .btn-primary:hover, .no-gutter > [class*='col-'] .btn-primary:focus, .no-gutter > [class*='col-'] .btn-primary.focus, .no-gutter > [class*='col-'] .btn-primary:active, .no-gutter > [class*='col-'] .btn-primary.active,
    .no-gutter > [class*='col-'] .btn-primary .open > .dropdown-toggle {
      color: white;
      background-color: #910111;
      border-color: #870110; }
    .no-gutter > [class*='col-'] .btn-primary:active, .no-gutter > [class*='col-'] .btn-primary.active,
    .no-gutter > [class*='col-'] .btn-primary .open > .dropdown-toggle {
      background-image: none; }
    .no-gutter > [class*='col-'] .btn-primary.disabled, .no-gutter > [class*='col-'] .btn-primary.disabled:hover, .no-gutter > [class*='col-'] .btn-primary.disabled:focus, .no-gutter > [class*='col-'] .btn-primary.disabled.focus, .no-gutter > [class*='col-'] .btn-primary.disabled:active, .no-gutter > [class*='col-'] .btn-primary.disabled.active, .no-gutter > [class*='col-'] .btn-primary[disabled], .no-gutter > [class*='col-'] .btn-primary[disabled]:hover, .no-gutter > [class*='col-'] .btn-primary[disabled]:focus, .no-gutter > [class*='col-'] .btn-primary[disabled].focus, .no-gutter > [class*='col-'] .btn-primary[disabled]:active, .no-gutter > [class*='col-'] .btn-primary[disabled].active, fieldset[disabled] .no-gutter > [class*='col-'] .btn-primary, fieldset[disabled] .no-gutter > [class*='col-'] .btn-primary:hover, fieldset[disabled] .no-gutter > [class*='col-'] .btn-primary:focus, fieldset[disabled] .no-gutter > [class*='col-'] .btn-primary.focus, fieldset[disabled] .no-gutter > [class*='col-'] .btn-primary:active, fieldset[disabled] .no-gutter > [class*='col-'] .btn-primary.active {
      background-color: #AA0114;
      border-color: #AA0114; }
    .no-gutter > [class*='col-'] .btn-primary .badge {
      color: #AA0114;
      background-color: white; }
  .no-gutter > [class*='col-'] .btn {
    font-family: "Habibi", serif;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase; }
  .no-gutter > [class*='col-'] .btn-xl {
    padding: 15px 30px; }
  .no-gutter > [class*='col-'] ::-moz-selection {
    color: white;
    text-shadow: none;
    background: #222222; }
  .no-gutter > [class*='col-'] ::selection {
    color: white;
    text-shadow: none;
    background: #222222; }
  .no-gutter > [class*='col-'] img::selection {
    color: white;
    background: transparent; }
  .no-gutter > [class*='col-'] img::-moz-selection {
    color: white;
    background: transparent; }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1); }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -moz-transform: scale(1);
    transform: scale(1); } }

/*# sourceMappingURL=creative.css.map */
